* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #f8f7f4;
	font-family: 'Mona Sans';
}

@font-face {
	font-family: 'Mona Sans';
	src: url(./Mona-Sans-Light.ttf);
}

@font-face {
	font-family: 'Mona Sans Medium';
	src: url(./Mona-Sans-Medium.ttf);
}

@font-face {
	font-family: 'Source Serif 4';
	src: url(./SourceSerif4-Light.ttf);
}

@font-face {
	font-family: 'Source Serif 4 Medium';
	src: url(./SourceSerif4-Medium.ttf);
}

main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}

#page1 {
	width: 100%;
	height: 100%;
}

nav {
	height: 17vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
}

#nav-left {
	width: 46vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 0.85vw;
}

#nav-left img {
	width: 7vmax;
	object-fit: cover;
}

#nav-left > div {
	display: flex;
	align-items: center;
	gap: 3px;
	cursor: pointer;
}

#find-courses,
#find-designers {
	display: flex;
	align-items: center;
	gap: 3px;
	cursor: pointer;
	position: relative;
}

#find-courses div i,
#find-designers div i {
	font-size: 1.2vw;
}

#find-courses::after,
#find-designers::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1vw;
	cursor: pointer;
}

#show-courses,
#show-designers {
	margin-top: 1vw;
	position: absolute;
	top: calc(100%);
	left: 0;
	border-radius: 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 1.5vw 2vw;
	background-color: white;
}

#show-courses > div,
#show-designers > div {
	width: max-content;
	font-size: 1.2vw;
	align-self: center;
	margin-bottom: 1vw;
}

#show-courses > div p,
#show-designers > div p {
	font-size: 0.9vw;
	margin-top: 0.2vw;
}

#show-courses > :last-child {
	width: 100%;
	border-top: 0.4px solid rgba(0, 0, 0, 0.119);
}

#show-courses > :last-child h5 {
	margin-top: 1vw;
}

#nav-right {
	width: 35vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3vw;
}

#search-input {
	width: 50%;
	background-color: #ffffff;
	border-radius: 25px;
	padding: 0.8vw 1.5vw;
	color: #6e6d7a;
	display: flex;
	align-items: center;
	font-size: 0.9vw;
}

#search-input i {
	font-size: 1.3vw;
}

#search-input input {
	width: 90%;
	padding: 0.5vw;
	font-size: 1vw;
	background-color: #ffffff;
	border: none;
}

#search-input input:focus {
	outline: none;
	border: none;
	color: black;
}

#nav-right h2 {
	font-size: 1.1vw;
}

#nav-right > h2:last-of-type {
	background-color: black;
	color: white;
	padding: 1vw 1.5vw;
	border-radius: 20px;
	cursor: pointer;
}

#nav-right > h2:last-of-type:hover {
	background-color: #565564;
}

#center {
	height: 83vh;
	padding-top: 4vw;
	padding-bottom: 1vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: 'Source Serif 4';
}

#center > h4:last-of-type {
	background-color: #0d0c22;
	color: white;
	padding: 1.2vw 1.4vw;
	border-radius: 2vw;
	cursor: pointer;
	font-size: 1.1vw;
}

#center h2 {
	text-align: center;
}

#center > h4:last-of-type:hover {
	background-color: #565564;
}
@keyframes changeColor {
	0% {
		background-color: #ffbbc1;
	}
	10% {
		background-color: #f7e6db;
	}
	20% {
		background-color: #9ac1e4;
	}
	30% {
		background-color: #ccb884;
	}
	40% {
		background-color: #e2d681;
	}
	50% {
		background-color: #ce989f;
	}
	60% {
		background-color: #82b7a0;
	}
	70% {
		background-color: #e9d4d4;
	}
	80% {
		background-color: #d4e9e1;
	}
	90% {
		background-color: #a9777e;
	}
	100% {
		background-color: #b0cf77;
	}
}

#center > h4:first-child {
	animation: changeColor 50s linear infinite;
	padding: 0.7vw 1.4vw;
	border-radius: 25px;
	cursor: pointer;
}

#center h1 {
	font-size: 5vw;
	width: 62%;
	line-height: 5vw;
	text-align: center;
}

#page2 {
	height: 70vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 1vw 0;
}

.hero-container {
	width: calc((20vmax * 14)- 0.1vmax);
	height: 100%;
	display: inline-block;
	gap: 2vw;
	animation: scroll 40s linear infinite;
}

.hero-slider {
	width: 280%;
	height: 100%;
	padding: 2vw 0 2vw 2vw;
	display: inline-flex;
	gap: 2.5vmax;
	overflow-x: scroll;
	white-space: nowrap;
	position: relative;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.hero-slider::-webkit-scrollbar {
	display: none;
}

.hero-card {
	height: 100%;
	width: 20vmax;
	position: relative;
	border-radius: 30px;
}

.hero-media {
	border-radius: 30px;
	width: 100%;
	height: 100%;
}

.hero-media img,
video {
	border-radius: 30px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-info {
	height: 28%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	bottom: 0;
	position: absolute;
	color: white;
	font-family: 'Mona Sans';
	padding: 1vw 1.5vw;
}

.hero-info h4 {
	font-size: 1vw;
}

.hero-tags {
	display: flex;
	gap: 1vw;
}

.hero-tags h6 {
	border: 1px solid #b6b4af86;
	padding: 0.4vw 0.8vw;
	border-radius: 25px;
}

#page3 {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4vw 5vw 10vw 5vw;
	position: relative;
}

#page3 h1 {
	text-align: center;
	font-size: 3.5vmax;
	padding: 3vw;
}

#designs {
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 3vmax;
	display: grid;
	padding-bottom: 3vmax;
}

.design-card {
	width: 100%;
	height: 90%;
	position: relative;
	border-radius: 15px;
}

.design-media {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px;
}

.design-media img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
}

.design-overlay {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 30%;
	border-radius: 0 0 15px 15px;
	color: white;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.708), rgba(255, 255, 255, 0));
	padding: 0 1.5vmax;
	cursor: pointer;
	transition: all ease 0.3s;
}

.design-icons {
}

.design-icons i {
	padding: 0.8vmax;
	background-color: white;
	color: black;
	border-radius: 50%;
	margin-left: 1vmax;
}

.design-icons i:hover {
	color: gray;
}

.design-author {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5vmax 0;
}

.design-author-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.8vmax;
}

.design-author-left img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.design-author-left h5 {
	align-self: center;
	font-size: 1vmax;
}

.design-author-left h5 > span {
	background-color: #d2d2c3;
	padding: 5px;
	color: white;
	border-radius: 4px;
	font-size: 0.6vmax;
	align-self: center;
	margin-left: 0.7vmax;
}

.design-author-right {
	display: flex;
	gap: 1vmax;
	display: flex;
	align-items: center;
}

.likes,
.views {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 0.2vmax;
}

.likes i,
.views i {
	cursor: pointer;
	color: gray;
	height: 1px;
}

.likes p,
.views p {
	font-size: 0.9vmax;
	color: rgb(93, 91, 91);
}

.likes i:hover {
	color: #ea64d9;
}

#more-design {
	border: 1px solid black;
	padding: 1.5vmax 2vmax;
	border-radius: 40px;
	cursor: pointer;
}

#more-design h6 {
	font-size: 1;
}

#more-design:hover {
	color: #6e6d82;
	border: 1px solid #6e6d82;
}

#page4 {
	width: 100%;
	height: 120%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	background-color: #ffda79;
	padding: 8vw;
}

#page4 h1 {
	font-family: 'Source Serif 4';
	font-size: 4.6vw;
	width: 50%;
	text-align: center;
	line-height: 5vw;
}
#page4 > div {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

#page4 > div:before {
	content: attr(data-subheading);
	display: block;
	margin-bottom: 10px;
	white-space: pre-wrap;
	font-size: 1.4vw;
	line-height: 2.5vw;
	font-family: 'Mona Sans Medium';
}

#page4 > div p {
	border-radius: 30px;
	padding: 1.5vw 2vw;
	font-size: 1.2vw;
}

#page4 > div p:last-child {
	background-color: white;
}

#page4 > div p:first-child {
	background-color: black;
	color: white;
}

#page4 > div p:last-child:hover {
	color: #6e6d82;
}

#page4 > div p:first-child:hover {
	background-color: #565564;
	color: white;
}

#get-started {
	display: flex;
	gap: 1.3vw;
	margin-bottom: 3vw;
	margin-top: 3vw;
	cursor: pointer;
}

#page4 > p {
	font-size: 1.4vw;
	font-family: 'Mona Sans Medium';
}

#page4 > p span {
	text-decoration: underline;
	cursor: pointer;
}

#page5 {
	height: 50vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	padding-top: 2vw;
}

.marquee-container {
	width: max-content;
	height: 100%;
	display: inline-block;
	gap: 2vw;
	padding: 1vw 0;
	animation: scroll 40s linear infinite;
}

.marquee-slider {
	width: calc(15vw * 9.4);
	height: 100%;
	display: inline-flex;
	gap: 2.5vw;
	overflow-x: scroll;
	white-space: nowrap;
	position: relative;
	padding: 2.5vw 0;
}

.marquee-slider::-webkit-scrollbar {
	display: none;
}

.marquee-item {
	height: 100%;
	width: 15vw;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
}

.marquee-item img {
	border-radius: 10px;
	width: 100%;
	height: 90%;
	object-fit: cover;
	position: relative;
	z-index: 2;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.marquee-item img::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(215, 137, 148);
	z-index: 1;
	top: -2;
	left: -2;
}

.marquee-item h6 {
	font-size: 1.1vw;
	margin: 2vw 0;
}

footer {
	height: 35vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2vw 4vw 4vw 4vw;
}

#footer-top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer-top-left {
	/* background-color: green; */
}

#footer-top-left img {
	width: 7vmax;
	object-fit: cover;
}

#footer-top-center {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#footer-top-center p {
	background-color: blue;
}

#footer-top-right {
	height: 100%;
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#footer-top-right i {
	font-size: 1.5vw;
}

#footer-bottom {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer-bottom-left {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#footer-bottom-right {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#footer-bottom-left p,
#footer-bottom-right p {
	font-size: 1vw;
	color: #6e6f87;
}

footer i,
p,
h5 {
	cursor: pointer;
}

.hamburger {
	cursor: pointer;
	display: none;
}

.hamburger input {
	display: none;
}

.hamburger svg {
	height: 10em;
	transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
	fill: none;
	stroke: rgb(0, 0, 0);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 3;
	/* Define the transition for transforming the Stroke */
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
	stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
	transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
	stroke-dasharray: 20 300;
	stroke-dashoffset: -32.42;
}

@media only screen and (max-width: 600px) {
	#page1 {
		height: 90%;
	}

	nav {
		height: 12vh;
		padding: 0 4vw;
	}

	#nav-left {
		width: 37vw;
		justify-content: space-between;
	}

	.hamburger {
		display: block;
	}

	.hamburger svg {
		height: 10em;
	}

	#nav-left img {
		width: 11.5vmax;
		padding-bottom: 5px;
	}

	#nav-left > div,
	h3 {
		display: none;
	}

	#nav-right {
		width: 45vw;
		gap: 2.3vmax;
	}

	#search-input {
		width: 20%;
	}

	#search-input i {
		font-size: 2.8vmax;
	}

	#nav-right #search-input input {
		display: none;
	}

	#nav-right > h2:first-of-type {
		display: none;
	}

	#nav-right > h2:last-of-type {
		padding: 1.9vmax 3vmax;
		border-radius: 30px;
		font-size: 1.7vmax;
	}

	#center {
		height: 90vh;
		padding: 12vmax 2vmax;
		justify-content: unset;
		gap: 4vmax;
	}

	#center > h4:first-child {
		padding: 1vmax 1.5vmax;
	}

	#center h1 {
		font-size: 5.5vmax;
		width: 100%;
		line-height: 6vmax;
	}

	#center h2 {
		text-align: center;
		font-size: 2vmax;
		font-family: 'Mona Sans';
		line-height: 3.5vmax;
		letter-spacing: 1px;
	}

	#center > h4:last-of-type {
		padding: 2vmax 3vmax;
		border-radius: 5vmax;
		font-size: 1.8vmax;
	}

	#page2 {
		height: 38vh;
	}

	.hero-container {
		width: calc(280px * 10);
		height: 100%;
	}

	.hero-slider:last-of-type {
		padding-right: 20px;
	}

	.hero-slider {
		width: calc(280px * 10);
		gap: 30px;
		padding-right: 20px;
	}

	.hero-card {
		width: 280px;
	}

	.hero-info {
		height: 35%;
		padding: 2vmax;
	}

	.hero-info h4 {
		font-size: 1.5vmax;
	}

	.hero-tags {
		gap: 1vmax;
	}

	.hero-tags h6 {
		padding: 0.4vmax 0.8vmax;
	}

	#page3 {
		padding-bottom: 15vmax;
	}

	#page3 h1 {
		font-size: 4.3vmax;
		padding: 7vmax 2vmax 4vmax 2vmax;
	}

	#designs {
		grid-template-columns: repeat(1, 1fr);
	}

	.design-card {
		height: 85%;
	}

	.design-author-left {
		gap: 1vmax;
		margin-top: 5px;
	}

	.design-author-left h5 {
		font-size: 1.5vmax;
	}

	.design-author-left h5 > span {
		font-size: 1vmax;
	}

	.design-author-right {
		gap: 1vmax;
	}

	.likes,
	.views {
		gap: 0.4vmax;
	}

	.likes p,
	.views p {
		font-size: 1.5vmax;
	}

	#more-design {
		border: 1.5px solid black;
		padding: 2vmax 2.6vmax;
	}

	#more-design h6 {
		font-size: 1.7vmax;
	}

	#more-design:hover {
		color: #6e6d82;
		border: 1px solid #6e6d82;
	}

	#page4 {
		height: 110%;
		padding: 0 1vmax;
		align-items: unset;
		justify-content: center;
		gap: 5vmax;
	}

	#page4 h1 {
		font-size: 4.6vmax;
		width: 100%;
		line-height: 6vmax;
	}
	#page4 > div {
		width: 100%;
		padding: 0 1vmax;
	}

	#page4 > div:before {
		font-size: 2.3vmax;
		line-height: 4vmax;
	}

	#page4 > div p {
		border-radius: 30px;
		padding: 2vmax 2.5vmax;
		font-size: 1.5vmax;
	}

	#get-started {
		padding-top: 2vmax;
		flex-direction: column;
		gap: 1.5vmax;
	}

	#page4 > p {
		align-self: center;
		font-size: 2vmax;
	}

	#page5 {
		height: 40vh;
		padding: 5vmax;
	}

	.marquee-container {
		gap: 2vmax;
		padding: 1vmax 0;
	}

	.marquee-slider {
		width: calc(55vw * 8.8);

		gap: 2.5vmax;

		padding: 2.5vw 0;
	}

	.marquee-item {
		height: 100%;
		width: 55vw;
	}

	.marquee-item h6 {
		font-size: 1.5vmax;
		margin: 2vmax 0;
	}

	footer {
		height: 42vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 5vmax;
	}

	#footer-top {
		width: 100%;
		height: 45%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#footer-top-left {
		width: 100%;
	}

	#footer-top-left img {
		width: 35%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	#footer-top-center {
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	#footer-top-right {
		height: 100%;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	#footer-top-right i {
		font-size: 2.5vmax;
	}

	#footer-bottom {
		height: 20%;
		width: 100%;
		flex-direction: column;
		justify-content: unset;
		gap: 1rem;
	}

	#footer-bottom-left {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 1vmax;
		justify-content: space-around;
	}

	#footer-bottom-right {
		width: 100%;
		flex-wrap: wrap;
		gap: 0.4rem;
		justify-content: space-around;
	}

	#footer-bottom-left p,
	#footer-bottom-right p {
		font-size: 1.5vmax;
	}
}
